@bg-color: #cccccc;

body{
  background-image: url("/img/45degreee_fabric.png");
}

label{
  color: #555555;
}

.book{
  float: left;
  width: 200px;
  border: 1px solid #959595;
  border-radius: 7px;
  margin: 0px 25px 25px 0px;
}

.cover{
  border-radius: 7px;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}
