extends ../shared/template

block content
  .row
    .col-xs-12.col-md-4
      form(role='form', action='/users', method='post')
        .form-group
          label Email
          input.form-control(name='email', type='email', autofocus=true)
        .form-group
            label Password
            input.form-control(name='password', type='password')
        .form-group
            label Registration Code
            input.form-control(name='code', type='password')
        button(type="submit").btn.btn-primary
          span.glyphicon.glyphicon-user
          | &nbsp; Register
    .col-md-8
