doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/less/app.css')
  body
    nav.navbar.navbar-default(role="navigation")
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bootstrap-navigation")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Digital Library
        .collapse.navbar-collapse#bootstrap-navigation
          ul.nav.navbar-nav.navbar-right
            li: a(href="/") Home
            if user
              li: a(href="/books/new") Add
              li: a(href="/books") Books
              li: a(href="/books/query?shelf=t") Shelf
              li: a(href="/books/admin") Admin
              li: a(href="/logout")= user.email
            else
              li: a(href="/users/new") Register
              li: a(href="/login") Login
    #title
      - query = query || ''
      - if(typeof query === 'object')
      -   delete query.userId
      - var subtitle = typeof query === 'object' ? util.format("%j", query) : ''

      h1= title + ' : ' + subtitle
    .container-fluid
      .row
        .col-xs-12
          block content

    script(src='/js/vendor/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')
