extends ../shared/template

block content
  .row
    .col-xs-12.col-md-4
      form(role='form', action='/books', method='post', enctype='multipart/form-data')
        .form-group
          label File
          input.form-control(name='file', type='file')
        .form-group
          label Cover
          input.form-control(name='cover', type='file')
        .form-group
          label Title
          input.form-control(name='title', type='text', autofocus=true)
        .form-group
          label Summary
          textarea.form-control(name='summary')
        .form-group
          label Tags
          textarea.form-control(name='tags')
        .form-group
          label Authors
          textarea.form-control(name='authors')
        .form-group
          label Publisher
          input.form-control(name='publisher', type='text')
        .form-group
          label Released
          input.form-control(name='released', type='text')
        .form-group
          label Edition
          input.form-control(name='edition', type='text')
        .form-group
          label ISBN-10
          input.form-control(name='isbn10', type='text')
        .form-group
          label ISBN-13
          input.form-control(name='isbn13', type='text')
        button(type="submit").btn.btn-primary
          span.glyphicon.glyphicon-plus
          | &nbsp; Add
    .col-md-8
